<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<variable name="appName" value="EYM" />

	<targets async="true">
		<target xsi:type="File"
				name="file_info"
				layout="${longdate} - ${level:uppercase=true}:${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
				fileName="${specialfolder:ApplicationData}\${appName}\Info.log"
				keepFileOpen="false"
				archiveFileName="${specialfolder:ApplicationData}\${appName}\Debug_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />

		<target xsi:type="File"
				name="file_debug"
				layout="${longdate} - ${level:uppercase=true}:${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
				fileName="${specialfolder:ApplicationData}\${appName}\Debug.log"
				keepFileOpen="false"
				archiveFileName="${specialfolder:ApplicationData}\${appName}\Debug_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />

		<target xsi:type="File"
				name="file_warn"
				layout="${longdate} - ${level:uppercase=true}:${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
				fileName="${specialfolder:ApplicationData}\${appName}\Warning.log"
				keepFileOpen="false"
				archiveFileName="${specialfolder:ApplicationData}\${appName}\Warn_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />

		<target xsi:type="File"
				name="file_error"
				layout="${longdate} - ${level:uppercase=true}:${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
				fileName="${specialfolder:ApplicationData}\${appName}\Error.log"
				keepFileOpen="false"
				archiveFileName="${specialfolder:ApplicationData}\${appName}\Error_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
            />

		<!--<target xsi:type="EventLog"
				name="eventlog"
				source="${appName}"
				layout="${message}${newline}${exception:format=ToString}"/>-->
	</targets>
	<rules>
		<logger name="*" writeTo="file_info" minlevel="Info" maxlevel="Info"/>
		<logger name="*" writeTo="file_debug" minlevel="Debug" maxlevel="Debug" />
		<logger name="*" writeTo="file_warn" minlevel="Warn" maxlevel="Warn" />
		<logger name="*" writeTo="file_error" minlevel="Error" maxlevel="Error"/>
	</rules>
</nlog>